# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
passing = 0
fail = 0

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
schools = school_data_complete["school_name"].unique()
total_schools = len(schools)
total_schools

15

In [3]:
#Calculate the total number of students
total_student = school_data_complete["student_name"].count()
total_student

39170

In [4]:
#Calculate the total budget
budget = school_data_complete["budget"].unique()
total_budget = budget.sum()
total_budget

24649428

In [5]:
#Calculate the average math score
sum_math_score = school_data_complete["math_score"].sum()

count_math_score = school_data_complete["math_score"].count()

average_math_score = sum_math_score / count_math_score
average_math_score

78.98537145774827

In [6]:
# Calculate the average reading score
sum_read_score = school_data_complete["reading_score"].sum()

count_read_score = school_data_complete["reading_score"].count()

average_read_score = sum_read_score / count_read_score
average_read_score

81.87784018381414

In [7]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (average_math_score + average_read_score)/2
overall_passing_rate

80.43160582078121

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math = [i for i in school_data_complete["math_score"] if i >= 70]
length_passing_math = len(passing_math)
length_math_score = school_data_complete["math_score"].count()
percent_passing_math = (length_passing_math / length_math_score) * 100
percent_passing_math

74.9808526933878

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = [i for i in school_data_complete["reading_score"] if i >= 70]
length_passing_reading = len(passing_reading)
length_reading_score = school_data_complete["reading_score"].count()
percent_passing_reading = (length_passing_reading / length_reading_score) * 100
percent_passing_reading

85.80546336482001

In [10]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame([[total_schools,total_student, total_budget, average_math_score, 
               average_read_score, percent_passing_math, percent_passing_reading, overall_passing_rate
              ]], columns=["Total School", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"])
district_summary

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [11]:
# give the displayed data cleaner formatting

# School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [12]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [43]:
# Create an overview table that summarizes key metrics about each school
group_school_data = school_data_complete.groupby(["school_name", "type",  "budget"])

group_school_data.count().head(100)

,,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size
school_name,type,budget,,,,,,,,
Bailey High School,District,3124928,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1081356,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,1884411,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,1763916,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,917500,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,3022020,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,248087,427,427,427,427,427,427,427,427
Huang High School,District,1910635,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,3094650,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,585858,962,962,962,962,962,962,962,962
Rodriguez High School,District,2547363,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1056600,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1043130,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,1319574,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1049400,1800,1800,1800,1800,1800,1800,1800,1800

In [47]:
group_school_data.to_dict("series")

AttributeError: Cannot access callable attribute 'to_dict' of 'DataFrameGroupBy' objects, try using the 'apply' method

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.